<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card>
    <img class="profile-photo" src="assets/mifoto.png" alt="Foto de perfil de Claudio A. Ferreira" />

    <ion-card-header class="ion-text-center">
      <ion-card-title>Claudio A. Ferreira</ion-card-title>
      <ion-card-subtitle>Estudiante de Desarrollo de Software</ion-card-subtitle>
      <ion-card-subtitle>Matrícula: 2010-0316</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline" slot="start" color="dark"></ion-icon>
          <ion-label>20100316@itla.edu.do</ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>